@import "../../../scss/_variables.scss";

.chart {
  height: 300px;
  width: 500px;
  background-color: #ecf0f1;
}

.chart__team1 {
  .chart__dot {
    fill: $team-1;
  }

  .chart__path {
    stroke: $team-1;
  }
}

.chart__team2 {
  .chart__dot {
    fill: $team-2;
  }

  .chart__path {
    stroke: $team-2;
  }
}


.chart__x-axis,
.chart__y-axis {
  font-size: 14px;
}

.chart__x-axis {
  line {
  }
}

.chart__y-axis {

  .tick {

    line {
      stroke: #ccc;
      stroke-dasharray: 5, 5;
    }

    &.is-hidden {
      display: none;
    }
  }

  .domain {
    // stroke: #eee;
    display: none;
  }
}
