@import "../../../scss/_variables.scss";

.teams {
  display: flex;
  align-items: center;
  padding: 12px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
  padding: 6px 12px;

  font-size: 48px;

  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

}

.team__color {
  height: 24px;
  width: 64px;
  background-color: #eee;
  border-radius: 24px;

  &.team--1 {
    background-color: $purple-8e44ad;
  }

  &.team--2 {
    background-color: $orange-e67e22;
  }

  &.team--none {
    padding: 4px 8px;
    background-color: rgba(#ccc, 0.5);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
