@import "../../../scss/_variables.scss";

.history {
  display: flex;
  flex-wrap: wrap;

  background-color: rgba(white, 0.8);
  border-radius: 6px;
  padding: 1px 6px;
}

.history__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 4px;
  cursor: pointer;

  // &:hover,
  &.is-selected {
    background-color: #eee;
  }

  &.team1 {
    flex-direction: column-reverse;
    justify-content: flex-end;

    .history__dot {
      background-color: $team-1;
    }
  }

  &.team2 {

    .history__dot {
      background-color: $team-2;
    }
  }

  &.no-score {
    &:after,
    &:before {
      content: "\00a0"; // &nbsp;
    }

    .history__dot {
      background-color: $no-score;
    }
  }

  // make sure spacing is correct
  // .team1 is column-reverse, so the :before is actualy below
  &.team1,
  &.team2 {
    &:before {
      content: "\00a0"; // &nbsp;
    }
  }

}

.history__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
