@import "./_variables.scss";

.teams {
  display: flex;
  align-items: center;
  padding: 12px;

  &.has-winner {
    align-items: flex-start;

    .team {
      width: 175px;
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
  padding: 6px 12px;

  font-size: 48px;

  border-radius: 6px;

  // disable hover states if there is a winner
  .teams:not(.has-winner) &:hover {
    background-color: #eee;
    cursor: pointer;
  }

}

.team__color {
  height: 24px;
  width: 64px;
  background-color: #eee;
  border-radius: 24px;

  &.team--1 {
    background-color: $purple-9b59b6;
  }

  &.team--2 {
    background-color: $orange-f39c12;
  }

  &.team--none {
    padding: 4px 8px;
    background-color: rgba(#ccc, 0.5);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

}
